@import 'tailwindcss';

#root {
  display: flex;
}

.wrapper {
  display: grid;
  grid-template-areas:
    'A A A  A A A'
    'B B B  C C C';

    column-gap: 50px;
    row-gap: 20px;
}

header {
  grid-area: A;
  justify-content: space-between;
}

nav {
  grid-area: B;
}

main {
  grid-area: C;
}
